<div class="jumbotron border bg-secondary p-2 text-dark bg-opacity-25">
  <h1 class="display-4">
    <%= @friend.first_name %>
    <%= @friend.last_name %>
  </h1>
  <p class="lead">
    <%= @friend.email %>  | 
    <%= @friend.phone %>  |  
    <%= @friend.twitter %>

  </p>
  <hr/>


  <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-secondary" %>
  <%= link_to 'Back', friends_path, class:"btn btn-dark" %>

  <br/><br/>

<%= button_to "Delete Friend", @friend, method: :delete, class:'btn btn-danger' %>
   
</div>
